html {
    height: 100%
  }

h1 {
    font-family: 'Arial Narrow Bold', Helvetica, sans-serif;
    font-size: 48px;
    letter-spacing: 15px;
    line-height: -5px;
    text-shadow: 3px 3px 5px rgb(48, 48, 48);
    color:rgb(39, 34, 87);
    vertical-align: center;
}

body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(rgb(244, 249, 244), rgb(200, 200, 200) 80%, rgb(148, 148, 148) );
  }

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}



div {
    text-align: center;
  }

  .parent {
      height: 170px;
      display: flex;
      background-image: url('Runners1.jpg');
      border-bottom-style: ridge;
      border-color: grey;
      
  }

  .icon  {
        height: 170px;
        width:170px;
        background-color: #f0f1f848;
        border-radius: 85px 85px 85px 85px;
        float:left;
        align-items: center;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
      }
  
  .titlenest {
      height:170px;
      width: calc(100% - 170px);
      float: right;
      align-items: center;
      vertical-align: center;
  }

  .title {
      position:relative;
      top: 20px;
      left:-85px;
      margin: auto;
      height: 60px;
      width: 40%;
      min-width: 400px;     
      background-image: linear-gradient(rgba(253, 255, 244, 1), rgba(243, 255, 190, 0.247));
      border-radius: 5px 20px 5px 20px;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);

  }

  .sidebar {
      width:140px;
      background-image: linear-gradient( #191d3d, #191d3da6);
      border-radius: 85px 20px 85px 20px;
      display: block;
      height: calc( 100% - 215px);
      float: left;
      padding-top: 20px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 20px;
      align-items: center;
      overflow: hidden;
  }

  .button {
    background-image: linear-gradient(rgb(255, 255, 230), rgba(190, 190, 190, 0.8));
    width: auto;
    min-width: 80px;
    margin: 20px;
    height:35px;
    border: 1px solid grey;
    border-radius: 3px 8px 3px 8px;
    text-align: center;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: center;
    box-shadow: 3px 3px 5px #1d1d1d;
    padding-bottom: 8px;  
  }
